#columnsContainer {
  border: solid 5px purple;
  display: flex;
  width: 500px;
  height: 500px;
}

.column {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.square {
  flex-basis: 100%;
}

.hover {
  background-color: black;
}
